:root{
    --light-grey: rgb(211, 210, 210);
}

.first-part-bg{
    background-color: #009688;
    height: 30vh;
}

.second-part-bg{
    background-color: var(--light-grey);
    height: 70vh;
}

.rounded-circle{
    line-height: 0;
}

.main-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.active-chat{
    background-color: rgb(233, 233, 233);
}

.ms_logo{
    width: 50px;
    border-radius: 50%;
}

.head-col-right,.head-col-left,.footer-col-right{
    height: 70px;
}

.chat-list ul li{
    list-style: none;
    padding: 8px 10px;
    border-top: 0.5px solid var(--light-grey)
}
.chat-list ul li:hover{
    background-color:  rgb(247, 244, 244);
}

.chat-zone ul li{
    list-style: none;
    padding: 10px ;
    width: 300px;
    margin: 20px ;
    border-radius: 10px;
}

.ms_small_text{
    font-size: 13px;
}

.ms_d_flex{
    display: flex;
}

.chat-zone{
    height: 700px;
    background-image: url("../img/mine.jpg");
    background-size: contain;
}

.sentMessage{
    background-color: rgb(77, 184, 77);
    align-self: flex-end;
    margin-right: 20px;
}

.arrivedMessage{
    background-color: white;
    align-self: flex-start;
}

.footer-col-right{
    background-color:rgb(253, 246, 234) ;
}

.col-5{
    border-right: 1px solid var(--light-grey);
}

.time-message{
    position: absolute;
    bottom: 5px;
    right: 5px;
}