:root{
    --light-grey: rgb(211, 210, 210);
}


.first-part-bg{
    background-color: #009688;
    height: 30vh;
}

.second-part-bg{
    background-color: var(--light-grey);
    height: 70vh;
}

.main-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ms_logo{
    width: 50px;
    border-radius: 50%;
}

.ms_small_text{
    font-size: 13px;
}

.ms_d_flex{
    display: flex;
}

.col-5{
    border-right: 1px solid var(--light-grey);
}

.rounded-circle{
    line-height: 0;
    color: #8edafc;
}

.active-chat{
    background-color: rgb(233, 233, 233);
}


.head-col-right,.head-col-left,.footer-col-right{
    height: 70px;
}

.notify{
    background-color: #8edafc ;
}

.chat-list ul li{
    list-style: none;
    padding: 8px 10px;
    border-top: 0.5px solid var(--light-grey)
}
.chat-list ul li:hover{
    background-color:  rgb(247, 244, 244);
}

.chat-zone ul li{
    list-style: none;
    padding: 15px 10px;
    width: 300px;
    margin: 20px ;
    border-radius: 10px;
}

.chat-list{
    height: 530px;
    overflow: auto;
}

.chat-zone{
    height: 600px;
    background-image: url("../img/mine.jpg");
    background-size: contain;
}

.sentMessage{
    background-color:#d5f9ba;
    align-self: flex-end;
    margin-right: 20px;
}

.arrivedMessage{
    background-color: white;
    align-self: flex-start;
}

.footer-col-right{
    background-color:rgb(253, 246, 234) ;
}


.time-message{
    position: absolute;
    color:rgb(192, 192, 192) ;
    font-size: 11px;
    bottom: 3px;
    right: 10px;
}

.chat-zone ul li:hover .ms_dropdown{
    display: inline-block;
}

.ms_dropdown{
    position: relative;
    display: none;
}

  .dropdown-content{
    display: none;
    background-color: #f9f9f9;
    width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 8px 8px;
    z-index: 1;
  }
  .dropdown-content:hover{
    background-color: rgb(235, 235, 235) ;
  }
  
  .ms_dropdown:hover .dropdown-content{
    display:block;
  }

/* Style scrollbar */

::-webkit-scrollbar{
    width: 10px;
  }
  
  /* Track */
::-webkit-scrollbar-track{
    background-color: rgb(253, 246, 234,0.4)
  }
   
  /* Handle */
::-webkit-scrollbar-thumb{
    background-color: rgb(207, 207, 207)
  }