:root{
    --light-grey: rgb(231, 229, 229);
}

body{
    background-color: darkgrey;
}

.ms_logo{
    width: 50px;
    border-radius: 50%;
}

/* Per Reset padding */
.col-5 .reset_padding,.col-7 .reset_padding,.row .reset_padding,ul{
    padding-left: 0;
    padding-right: 0;
}

.head-col-right,.head-col-left,.footer-col-right{
    height: 70px;
}

.chat-list ul li{
    list-style: none;
    padding: 8px 10px;
    border-top: 0.5px solid var(--light-grey)
}

.chat-zone ul li{
    display: inline-block;
    list-style: none;
    padding: 10px ;
    width: 250px;
    margin: 20px ;
    border-radius: 10px;
}

.ms_small_text{
    font-size: 13px;
}

.chat-zone{
    height: calc(100% - 140px);
    background-image: url("../img/mine.jpg");
    background-size: contain;
}

.sentMessage{
    background-color: green;
    align-self: flex-end;
    margin-right: 20px;
}

.arrivedMessage{
    background-color: white;
    align-self: flex-start;
}

.footer-col-right{
    background-color:rgb(253, 246, 234) ;
}

.col-5{
    border-right: 1px solid var(--light-grey)
}