body{
    background-color: darkgrey;
}

.ms_logo{
    width: 50px;
    border-radius: 50%;
}

.head-col-left{
    border-right: 1px solid darkgrey;
}

.col-5 .reset_padding,.col-7 .reset_padding,.row .reset_padding{
    padding-left: 0;
    padding-right: 0;
}

ul,li{
    list-style: none;
    padding: 5px 0;
}